* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.toggle {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggle span {
    position: absolute;
    width: 40px;
    height: 4px;
    background:#1863ff;
    border-radius: 4px;
    transition: .5s;
}